html,
body {
  margin: 0;
  padding: 0;
}

.header {
  color: #333;
  padding: 10px;
  border-bottom: 1px solid #dadada;
}

.pad5 {
  padding: 10px;
}

.mt10 {
  margin-top: 10px;
}

.module1 {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 5px 15px;
}
.text1 {
  font-size: 14px;
  color: #999;
}
